.select-service {
  background: linear-gradient(261.23deg, rgba(128, 234, 255, 0.2) 17.61%, rgba(128, 163, 255, 0.2) 47.56%, rgba(0, 42, 255, 0.2) 75.28%);

  .cn__img {
    width: 280px;
    height: 165px;
    margin: 40px auto 30px;
  }

  .btn {
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .select-service {
    .cn {
      display: grid;
      align-items: flex-end;
      grid-template-columns: 62% 38%;
    }

    .info {
      padding-right: 20px;
      padding-bottom: 20px;
    }
  }
}

@media screen and (min-width: 992px) {
  .select-service {
    &.wrap {
      padding-top: 4rem;
      padding-bottom: 2.6rem;
    }
  }
}
